<div id="calendar-weather-container">
	<h3 id="calendar-weather-hdr">
    <span id="calendar-weather-temp" title="{{localize 'cw.weather.SwitchUnit'}}">{{temp}}</span><span id="calendar-weather-units">{{#if isC}} °C {{else}} °F{{/if}}</span>
    <select id="calendar-weather-climate" title="{{localize 'cw.weather.SelectClimate'}}" onChange="
      Hooks.callAll('calendarWeatherClimateSet', this.value);
    ">
      <option title="Temp: Neutral, Humidity: Neutral" value="temperate">{{localize 'cw.weather.climate.Temperate'}}</option>
      <option title="Temp: Cold, Humidity: Neutral" value="tempMountain">{{localize 'TemperateMountain'}}</option>
      <option title="Temp: Very Hot, Humidity: Very Dry" value="desert">{{localize 'Desert'}}</option>
      <option title="Temp: Very Cold, Humidity: Neutral" value="tundra">{{localize 'Tundra'}}</option>
      <option title="Temp: Very Hot, Humidity: Wet" value="tropical">{{localize 'Tropical'}}</option>
      <option title="Temp: Very Cold, Humidity: Dry" value="taiga">{{localize 'Taiga'}}</option>
      <option title="Temp: Extremely Hot, Humidity: Volcanic" value="volcanic">{{localize 'Volcanic'}}</option>
      <option title="Temp: Extremely Cold, Humidity: Neutral. Adjusts Night cycle to be more extreme depending on season's temperature." value="polar">{{localize 'Polar'}}</option>
    </select>
  </h3>
  <p id="calendar-weather-precip" title="Regenerate Weather">{{precipitation}}</p>
</div>
<style style="visibility: hidden;">
	#calendar-weather-container{
  position: fixed;
	bottom: 85px;
	left: 450px;
	width: min-content;
	height: 72px;
	margin: 0;
	padding: 0;
	border: 1px solid #000;
	border-radius: 3%;
	background: rgba(0, 0, 0, 0.5);
	}
	#calendar-weather-hdr{
		font-size: 16px;
		margin: 3px;
		padding: 4px;
    height: 25px;
    min-width: 150px;
		width: fit-content;
    display: grid;
		border-bottom: 1px solid #111;
    color: #CCC;
	}
  #calendar-weather-temp:hover{
    color: white;
    text-shadow: 0 0 8px red;
  }
  #calendar-weather-temp{
    cursor: pointer;
    grid-row: 1;
    grid-column: 1;
  }
  #calendar-weather-climate{
    background-color: rgba(255, 255, 255, 0.5);
    height: 20px;
    width: fit-content;
    position: relative;
    bottom: 3px;
    grid-row: 1;
    grid-column: 3;
  }
  #calendar-weather-units{
    grid-row: 1;
    grid-column: 2;
    padding-right: 3px;
  }
  #calendar-weather-precip{
    color: #CCC;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    width: 100%;
    cursor: pointer;
  }
  #calendar-weather-precip:hover{
    color: white;
    text-shadow: 0 0 8px red;
  }
</style>
