<div>
    <h2 style="text-align: center;">{{localize 'cw.notice.317.Title'}}</h2>
    <p>{{localize 'cw.notice.317.UpcomingChanges'}}</p>
    <p>{{localize 'cw.notice.317.Dependency'}}</p>
    <p>{{localize 'cw.notice.317.Recommended'}}</p>
    <p>{{localize 'cw.notice.317.GitLab'}} <a href="https://gitlab.com/jstebenne/foundryvtt-calendar-weather" target="_blank">{{localize 'cw.notice.317.GitLabLinkLabel'}}</a></p>
    <p>{{localize 'cw.notice.317.Discord'}} <a href="https://discord.gg/f6PtsSjWGP" target="_blank">{{localize 'cw.notice.317.DiscordLinkLabel'}}</a></p>
</div>
